* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #755d5d;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.container {
  background: #a1a1a18f;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}

.title {
  text-align: center;

  & span {
    color: #06b0ffd7;
  }
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
  height: 30px;

  & span {
    color: #504217;
  }
}

.reset:hover {
  color: #f2ebd3;
}

.board {
  background: #daddfc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;

  &__tile {
    background: #396eb0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 200px;
    width: 200px;
  }
}

.game- .x,
.o {
  cursor: default;
}

.x::after {
  content: "×";
  font-size: 200px;
}

.o::after {
  content: "○";
  color: #fc997c;
  font-size: 225px;
}

.won::after {
  color: #bd022f;
}

@media only screen and (max-width: 1024px) {
  .game-grid {
    margin-top: 25px;
    grid-gap: 10px;
  }

  .game-cell {
    height: 150px;
    width: 150px;
  }

  .x::after {
    font-size: 150px;
  }

  .o::after {
    font-size: 175px;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    margin: 25px;
    padding: 25px;
  }

  .board__tile {
    height: 100px;
    width: 100px;
  }

  .x::after {
    font-size: 100px;
  }

  .o::after {
    font-size: 125px;
  }
}
